body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app {
  width: 100vw;
  color: white;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #121212;
}
.error {
  color: #cd0000;
  font-weight: bold;
}
.chat-container {
  flex: 1;
  height: 100%;
  display: flex;
}
.left-rail {
  height: 100%;
  width: 300px;
}
.chat-list-container {
  overflow-y: auto;
  height: calc(100% - 150px);
}
.no-chats-yet {
  padding: 15px;
}
.chat-list {
  display: flex;
  flex-direction: column;
}
.chat-list-item {
  display: flex;
  height: 75px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  box-shadow: 0px 0px 2px black;
  justify-content: space-between;
}
.chat-list-item-content {
  flex: 1;
  display: flex;
  color: #f2f2f2;
  align-items: center;
  justify-content: flex-start;
}
.chat-list-item .selected,
.chat-list-item:hover {
  background-color: #18181d;
}

.selected-chat-item {
  background-color: #18181d;
}

.chat-list-item:hover {
  visibility: visible;
}

.chat-list-preview {
  margin-left: 10px;
}
.create-chat-button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 0px;
  background-color: #21ba45;
}

.chats-loading {
  height: 100%;
  position: relative;
}
.left-rail-header {
  height: 100px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  background-color: #161616;
  box-shadow: 0px 0px 2px black;
}
.current-user-info {
  display: flex;
  align-items: center;
}
.current-username {
  margin-left: 15px;
  font-size: 28px;
}
.user-avatar {
  cursor: pointer;
}
.user-loading {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.current-chat {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #292b31;
}
.no-chat-selected {
  display: flex;
  font-size: 28px;
  padding: 25px;
  color: #abaebb;
  align-self: center;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: #4d515d;
  box-shadow: 0px 0px 3px black;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.point-left {
  width: 150px;
  height: auto;
}
.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chat-toolbar {
  display: flex;
  min-height: 50px;
  color: #f2f2f2;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  background-color: #121212;
  justify-content: space-between;
}
.chat-header-text {
  color: gray;
  font-size: 16px;
  font-weight: bold;
}
.add-user-icon {
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding-bottom: 5px;
}
.no-messages-yet {
  font-size: 24px;
  margin-top: 25px;
}
.chat-messages {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  height: calc(100% - 105px);
}
.chat-message {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
}
.message-image {
  width: 250px;
}
.message-avatar {
  width: 35px;
  height: 35px;
  display: flex;
  font-size: 24px;
  margin-right: 15px;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  background-color: #4d515d;
}
.chat-message-header {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.message {
  display: inline-block;
  max-width: 60%;
  width: auto;
  background-color: #0084ff;
  color: white;
}

.message > p {
  font-size: 16px;
  word-break: break-all;
  padding: 5px 10px;
}

.recieve {
  display: flex;
}

.sent {
  display: flex;
  flex-direction: row-reverse;
}

.sent-color {
  background-color: #0084ff;
  border-radius: 10px 10px 0px 10px;
}
.recieve-color {
  background-color: #4c4c6a;
  border-radius: 0px 10px 10px 10px;
}
.chat-controls {
  width: 100%;
  margin: 25px;
  margin-top: 15px;
  height: 35px;
  flex-shrink: 0;
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  align-items: center;
  width: calc(100% - 50px);
  background-color: #23252c;
  box-shadow: 0px 0px 3px black;
}
.chat-input {
  flex: 1;
  border: none;
  height: 100%;
  outline: none;
  color: #f2f2f2;
  caret-color: white;
  background-color: transparent;
}
.send-message-icon {
  width: 35px;
  height: 100%;
  display: flex;
  cursor: pointer;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
}
.send-message-icon:hover {
  background-color: #1f2026;
}
.user-search .input {
  width: 100%;
}
.user-search .input .prompt,
.user-search .input .prompt:focus {
  border: none;
  outline: none;
  color: #f2f2f2;
  caret-color: white;
  background-color: #1f2026;
  border-radius: 0px !important;
}
.user-search .input i {
  color: white !important;
}

.modal .content {
  background: #121212 !important;
}
.modal .actions,
.modal .header {
  color: #f2f2f2 !important;
  background-color: #060f18 !important;
}
